body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(209, 197, 28);
  border: 10px solid rgb(0, 0, 0);
  float: left;
  font-size: 220px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  margin-right: -10px;
  margin-top: -10px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.status{
  font-size: 22px;
  font-weight: bold;
 
  color: blue;
  padding-left: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
